body {
  background-color: rgba(4, 24, 33, 255);
}


h1 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

#vert {
  color: rgba(29, 213, 157, 255);
}

h2 {
  font-size: 45px;
  color: white
}

h3 {
    font-size: 35px;
    color: white
}

h4 {
  color: rgba(29, 213, 157, 255);
  font-size: 30px;
}

header {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid whitesmoke
}

nav {
  background-color: rgb(65, 75, 5);
}

#logos {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 25px;
  right: 20px;
  color: #f8fcf5;

}

ul {
  gap: 30px;
  left: 20px;
}































/* ---------------------------- MEDIA QUERIES ------------------------------------------ 

@media screen and (max-width:1024px) {
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  section {
    width: 90%;
    background: rgba(204, 175, 175, 0.3);
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
  }

  h1 {
    color: blanchedalmond;
    font-size: 2vw;
    width: max-content;
  }

  h2,
  p {
    text-align: center;
  }

  a img {
    display: block;
    margin: auto;
  }
}
*/