body {
  background-color: rgba(4, 24, 33, 255);
}


h1 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

header {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid whitesmoke
}

nav {
  background-color: rgb(65, 75, 5);
}

#half {
  color: #f8fcf5;
}
#link {
  color: #f8fcf5;
}
#insta {
  color: #f8fcf5;
}
#facebook {
  color: #f8fcf5;
}

#vert {
  color: rgba(28, 212, 156, 255);
}






























/* ---------------------------- MEDIA QUERIES ------------------------------------------ 

@media screen and (max-width:1024px) {
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  section {
    width: 90%;
    background: rgba(204, 175, 175, 0.3);
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
  }

  h1 {
    color: blanchedalmond;
    font-size: 2vw;
    width: max-content;
  }

  h2,
  p {
    text-align: center;
  }

  a img {
    display: block;
    margin: auto;
  }
}
*/